* {
    box-sizing: border-box
}

.menu {
    float: left;
    border: 1px solid rgb(155, 155, 155);
    background-color: #12685c56;
    width: 30%;
    height: 780px;
}

    .menu button {
        display: block;
        background-color: inherit;
        color: rgb(0, 0, 0);
        padding: 53px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

        /* al pasar por el boton con el cursor */
        .menu button:hover {
            background-color: #ddd;
            cursor: pointer;
        }

        /* al pinchar en el boton */
        .menu button.active {
            background-color: rgb(77, 77, 77);
            color: whitesmoke;
        }

.contenido {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 780px;
}

.botonAñadir {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #12685c56;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px #999;
    margin-right: 42%;
	
}

    .botonAñadir:hover {
        background-color: #666;
        cursor: pointer;
    }

    .botonAñadir:active {
        background-color: #12685c56;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

/*Dialogo modal*/
.contenidoModal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px 5px 5px 5px;
    width: 60%;
}
/*tamaño para la ventana del modal */
.modal-content {
    width: 850px;
    height: 725px;
}

.modal-content1 {
    width: 100%;
    margin: auto;
    background-color: white;
}

.modal-content2 {
    width: 100%;
    margin: auto;
    background-color: white;
    padding-left: 5px;
    padding-right: 20px;
}

.cabecera {
    padding: 1%;
    text-align: center;
    background: #12685c56;
    color: white;
}

/* The Close Button */
.cerrar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .cerrar:hover, .cerrar:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
/*formulario*/
label tr {
    display: block;
}

label {
    padding-right: 11px;
}

.ContenidoTablaAct {
    display: block;
    border: black 1px solid;
    border-collapse: initial;
}

input, select {
     height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid lightgray;

    /*background-color: #f6f6f6;*/
    margin: 8px 0;
    resize: none;
    display: initial;
}
textarea{
    height: 50px; 
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}
.lbActividades{
   
    margin-left: 266px;
}
.tdHoras{
    padding: 10px;
}
.HorasRealizadas{
    font-weight: bold; 
    font-size: large;
}
.ContenidoTablaAct {
    width: 150px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.centroTrabajoDocente {
    width: 150px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.actividadesRealizadas {
    width: 100%;
    height: 50px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    resize: none;
    display: block;
}

.botonAñadir {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #12685c56;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px #999;
}

    .botonAñadir:hover {
        background-color: #666;
        cursor: pointer;
    }

    .botonAñadir:active {
        background-color: #12685c56;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.formularioDia {
    width: 100%;
    padding-left: 12%;
}

.centro1 {
    width: 50%;
    margin-bottom: 10%;
}



.tabla {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

thead, tbody {
    border-bottom: 2px solid #ddd;
}
.tareas{
    text-align: center;
}
.seAlumnos{
    width: 300px;
}
.inputFecha{
    width: 150px;
}
.tablaAct{
    width: 100%;
}
.tdDiasHoras{
    width: 180px;
    padding: 10px;
    text-align: center;
}


/* slide imagenes*/
.misImagenes {
    display: none
}
img {
    vertical-align: middle;
    width: 1000px;
    height: 785px;
    padding: 20px;
}
.imagenes {
    width: 1000px;
    position: relative;
    margin: auto;
}
.anterior, .siguiente {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.siguiente {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.anterior:hover, .siguiente:hover {
  background-color: rgba(0,0,0,0.8);
}
.texto {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numero {
    color: #f2f2f2;
    font-size: 12px;
    padding: 20px 22px;
    position: absolute;
    top: 0;
}
.punto {
    
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.puntitos{
text-align:center;
}

    .active, .punto:hover {
        background-color: #717171;
    }
