* {
            box-sizing: border-box
        }
        .menu {
            float: left;
            border: 1px solid rgb(155, 155, 155);
            background-color: #12685c56;
            width: 30%;
            height: 722px;
        }
        .menu button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 48px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
        }

        /* al pasar por el boton con el cursor */
        .menu button:hover {
            background-color: #ddd;
            cursor: pointer;
        }

        /* al pinchar en el boton */
        .menu button.active {
            background-color: rgb(77, 77, 77);
            color: whitesmoke;
        }

        .contenido {
            float: left;
            padding: 0px 12px;
            border: 1px solid #ccc;
            width: 70%;
            border-left: none;
            height: 722px;
        }
        .botonAñadir{
             display: inline-block;
              padding: 10px 15px;
              font-size: 15px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: #12685c56;
              border: none;
              border-radius: 12px;
              box-shadow: 0 5px #999;
        }
        .botonAñadir:hover {background-color: #666;
            cursor: pointer;}

        .botonAñadir:active {
          background-color: #12685c56;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
          }

        /*Dialogo modal*/
        .modalAlumno, .modalProfesor, .modalEmpresa, .modalActividad, .modalAsignacion {
          position: fixed;
          z-index: 1;
          padding-top: 100px;
          left: 0;
          top: 0;
          width: 100%; 
          height: 100%;
          overflow: auto;
          background-color: rgb(0,0,0); 
          background-color: rgba(0,0,0,0.4);
        }
        .modalAlumno{
          display: none;
        }
        .modalProfesor{
          display: none;
        }
        .modalAsignacion{
          display: none;
        }
        .modalEmpresa{
          display: none;
        }
        .modalActividad{
          display: none;
        }

        /* Modal Content */
        .contenidoModal { 
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          border-radius: 5px 5px 5px 5px;
          width: 60%;
        }

        /* The Close Button */
        .cerrar {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .cerrar:hover, .cerrar:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

       
        label tr{
          display: block;
          
        }
        label{
          padding-right: 11px;
        }
        .ContenidoTablaAct{
          display: block;
          border: black 1px solid;
          border-collapse: initial;
        }
        .fecha{
          width:5%;
          height:20px;
        width:10%;
          height:20px;
          border:1px solid #f6f6f6;
          border-radius:3px;
          background-color:#f6f6f6;			
          margin:8px 0;
          resize:none;
          display: initial;
        }
        input, textarea, select {
        width:20%;
          height:20px;
          border:1px solid #f6f6f6;
          border-radius:3px;
          background-color:#f6f6f6;			
          margin:8px 0;
          resize:none;
          display: initial;
        }
        
        .ContenidoTablaAct{
          width : 150px;
          margin: 0;

          -webkit-box-sizing: border-box; 
            -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }
        .centroTrabajoDocente {
          width : 150px;
          margin: 0;
          -webkit-box-sizing: border-box; 
            -moz-box-sizing: border-box; 
                  box-sizing: border-box;
        }
        .actividadesRealizadas{
          width:100%;
          height:50px;
          border:1px solid #f6f6f6;
          border-radius:3px;
          background-color:#f6f6f6;			
          margin:8px 0;
          
          resize:none;
          display:block;
        }
        .botonAñadir{
             display: inline-block;
              padding: 10px 15px;
              font-size: 15px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: #12685c56;
              border: none;
              border-radius: 12px;
              box-shadow: 0 5px #999;
        }
        .botonAñadir:hover {background-color: #666;
            cursor: pointer;}

        .botonAñadir:active {
          background-color: #12685c56;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
          }
        .formularioDia{
          width: 100%;
          padding-left: 12%;
          
        }
        .centro1{
          width: 500px;
        }
        .centro1{
          margin-bottom: 10%;
        }

        .modal-content{
          width: 850px;
          height: 715px;
        }
        .modal-content1{
          width: 100%;
          margin: auto;
          background-color: white;
        }
        .cabecera {
          padding: 1%;
          text-align: center;
          background: #12685c56;
          color: white;
        }


